.header{
	left: 0;
	top: 0;
	position: fixed;
  z-index: 4;

  button{
    margin: 15px 0px 0px 15px;

  }
}

.pokemon-logo{
	left: 44%;
	top: 0;
	position: fixed;
  z-index: 3;

  img{
    width: 215px;
  }
}

.button-pokemon {
  align-items: center;
  background-color: #000000;
  border: 0;
  color: #f6f65e;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  min-height: 32px;
  padding: 0px 20px 0px 20px;

}

.button-pokemon:hover,
.button-pokemon:focus {
  background-color: #16437E;
  color: #f6f65e;
}
