<button class="button-pokemon" (click)="goBack()">Go Back</button>

<section
  class="card-section"
  style="
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
  "
>
  <article class="card">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png"
      alt="imagen header card"
      class="card-header"
    />
    <div
      class="card-body"
      [ngStyle]="{
        'background-color': pokemon.backgroundColor,
        color: pokemon.textColor
      }"
    >
      <img src="{{ pokemon.image }}" alt="imagen" class="card-body-img" />
      <h1 class="card-body-title">
        {{ pokemon.name }}
      </h1>
      <!-- <p class="card-body-text">Some Description</p> -->
    </div>
    <div
      class="card-footer"
      [ngStyle]="{
        'background-color': pokemon.backgroundColor,
        color: pokemon.textColor
      }"
    >
      <div class="card-footer-social">
        <h3>ID:</h3>
        <p>{{ pokemon.id }}</p>
      </div>
      <div class="card-footer-social">
        <h3>Height:</h3>
        <p>{{ pokemon.height }}</p>
      </div>
      <div class="card-footer-social">
        <h3>Weight:</h3>
        <p>{{ pokemon.weight }}</p>
      </div>
    </div>
  </article>

  <article class="card-stats">
    <h3>Stats</h3>
    <div
      *ngFor="let stat of pokemon.stats"
      style="margin: 0px 10px 10px 10px; width: 160px"
    >
      <div style="float: left;">
        <label>{{ stat.stat.name }}</label
        ><br />
        <label> {{ stat.base_stat  | number: "1.0-0" }} / 100</label><br />
      </div>
      <div style="float: right;">
        <mat-spinner
          [diameter]="60"
          mode="determinate"
          [value]="stat.base_stat "
        ></mat-spinner>
      </div>

      <br />
    </div>
  </article>

  <article class="card-general">
    <div>
      <h3>Type</h3>
      <div
        *ngFor="let type of pokemon.types"
        style="margin: 10px; width: 125px"
      >
        <div>
          <button>{{ type.type.name }}</button>
        </div>
      </div>
    </div>

    <div>
      <h3>abilities</h3>
      <div
        *ngFor="let ability of pokemon.abilities"
        style="margin: 10px; width: 125px"
      >
        <button>{{ ability.ability.name }}</button>
      </div>
    </div>
  </article>

  <!-- <article class="card-moves">
    <h2>Moves</h2>
    <div style="height: 350px; overflow-y: scroll; ">

      <div
        *ngFor="let move of pokemon.moves"
        style="margin: 10px; width: 125px"
      >
        <label>{{ move.move.name }}</label
        >
      </div>
    </div>
  </article> -->
</section>
