.card {
  background-color: white;
  width: 326px;
  border-radius: 16px;
  max-height: 460px;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

  &-header {
    width: 100%;
    display: block;
  }

  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(153, 153, 153, 0.383);

    &-img {
      width: 200px;
      height: 200px;
      border: 5px solid white;
      border-radius: 50%;
      margin-top: calc(-48px - 5px);
      background-color: white;
    }

    &-title {
      margin-top: 2rem;
      font-size: 1.8rem;
      text-transform: capitalize;
    }
  }

  &-footer {
    display: flex;
    justify-content: space-around;

    &-social {
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }
}

.button-pokemon {
  align-items: center;
  background-color: #000000;
  border: 0;
  color: #f6f65e;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  min-height: 32px;
  padding: 0px 20px 0px 20px;
  margin: 55px 0px 0px 220px;
}

.button-pokemon:hover,
.button-pokemon:focus {
  background-color: red;
  color: #f6f65e;
}

.card-section {
  background-color: rgb(55, 53, 53);
  width: 900px;
  max-height: 500px;
  border-radius: 16px;
  left: 25%;
  top: 15%;
  position: fixed;
  border: solid 2px whitesmoke;
}

.card-stats {
  background-color: white;
  width: 180px;
  margin-left: 25px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.card-general {
  background-color: white;
  width: 275px;
  padding: 5px;
  margin-left: 25px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

  button {
    background-color: yellow;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    line-height: 1;
    padding: 0.5rem 1.3rem;
    text-align: center;
  }

  h3 {
    margin: 0px 0px 5px 15px;
  }
}

.show-button {
  &-button {
    background-color: fff;
    width: 500px;
  }
}

.card-moves {
  background-color: white;
  width: 180px;
  margin-left: 25px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  display: flex;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  position: relative;
  padding: 5px 0px 0px 45px;
}

ul li:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: contain;
  background-image: url("../../../../assets/pokeball-icon.png");
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card-evolution {
  background-color: rgb(55, 53, 53);
  opacity: 85%;
  color: white;
  width: 900px;
  height: 300px;
  border-radius: 16px;
  left: 25%;
  top: 67%;
  position: fixed;
  border: solid 2px whitesmoke;
  overflow-y: auto;
  h2 {
    margin: 25px 0px 0px 25px;
    font-size: 30px;
    text-transform: uppercase;
  }
}

.evolution {
  justify-content: center;
  align-content: center;
  display: flex;

  .evolution-info {
    flex-direction: column;
    p {
      text-align: left;
    }
    .details {
      display: flex;
      flex-direction: column;
      font-size: medium;

      .info {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 1rem;
      }
      span {
        font-weight: bold;
      }
    }
  }
  .evolution-card {
    display: flex;
    flex-direction: row;
  }
}

.image-container {
  border-radius: 100%;
  border: 5px solid white;
  background-color: gray;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.arrow {
  align-self: center;
  font-size: xxx-large;
  margin: 1rem;
}

.wrapper {
  display: flex;
}
.last-arrow {
  display: none;
}
