
  <article class="card">
    <button (click)="goBack()">Go Back</button>
      <!-- <img src="{{pokemon[0].image}}" alt="imagen header card" class="card-header"> -->
      <div class="card-body">
          <!-- <img src="{{pokemon[0].image}}" alt="imagen" class="card-body-img"> -->
          <h1 class="card-body-title">
              Pokemon name
          </h1>
          <p class="card-body-text">Pokemon name</p>
      </div>
      <div class="card-footer">
          <div class="card-footer-social">
              <h3>dato</h3>
              <p> {{pokemon.name}}</p>
          </div>
          <div class="card-footer-social">
              <h3>Dato</h3>
              <p>Dato Pokemon</p>
          </div>
          <div class="card-footer-social">
              <h3>dato</h3>
              <p>Dato Pokemon</p>
          </div>
      </div>
  </article>

