<section class="card">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <h2>Basic Information</h2>

    <div>
      <mat-form-field appearance="fill">
        <mat-label for="pokemon-name">Name </mat-label>
        <input
          #name
          type="text"
          id="pokemon-name"
          formControlName="pokemonName"
          matInput
        />
      </mat-form-field>
    </div>
    <mat-hint style="font-size: 15px; position: absolute; top: 23%" align="end"
      >{{ name.value?.length || 0 }}/25</mat-hint
    >

    <div>
      <mat-form-field appearance="fill">
        <mat-label for="pokemon-description">Description </mat-label>
        <input
          #description
          type="text"
          id="pokemon-description"
          formControlName="pokemonDescription"
          matInput
        />
      </mat-form-field>
    </div>
    <mat-hint style="font-size: 15px; position: absolute; top: 39%" align="end"
      >{{ description.value?.length || 0 }}/75</mat-hint
    >

    <div>
      <mat-form-field appearance="fill">
        <mat-label for="pokemon-height">Height </mat-label>
        <input
          type="number"
          id="pokemon-height"
          formControlName="pokemonHeight"
          matInput
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label for="pokemon-weight">Weight </mat-label>
        <input
          type="number"
          id="pokemon-weight"
          formControlName="pokemonWeight"
          matInput
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Choose a type</mat-label>
        <mat-select id="pokemon-type" required formControlName="pokemonType">
          <mat-option *ngFor="let pow of typesOfPokemon" [value]="pow">{{
            pow
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!profileForm.valid"
    >
      Submit
    </button>
  </form>
</section>
