<section>
  <mat-paginator
    [length]="50"
    (page)="test($event)"
    [pageSize]="10"

    aria-label="Select page"
  >
  </mat-paginator>

  <div>
    <app-search (searchForAPokemon)="searchPokemon($event)"></app-search>
  </div>
  <br />

  <div class="poke-container">
    <div *ngFor="let pokemon of searchedPokemons">
      <app-pokemon [pokemon]="pokemon"></app-pokemon>
    </div>

    <ng-container *ngIf="searchedPokemons.length == 0; then notFound">
    </ng-container>
    <ng-template #notFound>
      <app-not-found></app-not-found>
    </ng-template>
  </div>
</section>
