<section>
  <mat-paginator
    style="z-index: 1; position: relative; opacity: 0.7"
    [length]="100"
    (page)="paginatorOrganizer($event)"
    [pageSize]="18"
    aria-label="Select page"
  >
  </mat-paginator>

  <div style="z-index: 3; position: relative">
    <button id="sort" class="button-pokemon" (click)="sortByName()">
      {{ sorted ? "Sort by id" : "Sort by name" }}
    </button>
    <app-search
      id="search"
      (searchForAPokemon)="searchPokemon($event)"
    ></app-search>
  </div>
  <br />

  <div class="poke-container">
    <div *ngFor="let pokemon of listOfPokemonsToDisplay">
      <app-pokemon [pokemon]="pokemon"></app-pokemon>
    </div>

    <ng-container *ngIf="listOfPokemonsToDisplay.length == 0; then notFound">
    </ng-container>
    <ng-template #notFound>
      <app-not-found></app-not-found>
    </ng-template>
  </div>
</section>
